@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100%;
    width: 100%;
  }
  body {
    @apply bg-black text-gray-900;
  }
}
